{% extends 'partials/base.html' %}
{% block title %} Delete Page {% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset md-3">
            <div class="border bg-white p-3">
                <h3>Supprimer l'article</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Voulez-vous supprimer "{{ item.nom }}"?</h4>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-danger" type="submit" value="Supprimer">
                    <a class="btn btn-secondary" href="{% url 'dashboard-product' %}">Annuler</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}